<section class="section-products">
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h2>MOTOS SUZUKI SERIE WILD</h2>
                            </div>
                            <div>
                                <p>La serie Wild de Suzuki es la más completa de la marca, con una gran variedad de modelos y colores para que puedas elegir la que más te guste.</p>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product" >
                                    <div class="part-1" style='background: url("https://motos-b60.kxcdn.com/sites/default/files/suzuki-gsx-s1000-gt-2022.jpg") no-repeat center;
                                    background-size: cover;'>
                                            <ul>
                                                    <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                    <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">SUZUKI GT-715</h3>
                                            <h4 class="product-price">$4900.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                                <div class="part-1" style='background: url("https://suzuki-motos.s3.amazonaws.com/assets/prod-publish/7685/gixxer-150.png") no-repeat center;
                                background-size: cover;'>
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">SUZUKI GIX-685</h3>
                                        <h4 class="product-price">$7900.99</h4>
                                </div>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                                <div class="part-1" style='background: url("https://motoblog.com/wp-content/uploads/2022/05/LATIN_AMERICA_GN125F_YHP_Right.jpg") no-repeat center;
                                background-size: cover;'>
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">SUZUKI GN-125</h3>
                                        <h4 class="product-price">$5100.99</h4>
                                </div>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                                <div class="part-1" style='background: url("https://suzuki-motos.s3.amazonaws.com/assets/prod-publish/7000/negro-mate-metalico.png") no-repeat center;
                                background-size: cover;'>
                                   
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">SUZUKI GIXXR-250</h3>
                                        <h4 class="product-price">$6100.99</h4>
                                </div>
                        </div>
                </div>

                    <!-- Single Product -->

                    <div class="row justify-content-center text-center">
                        <div class="col-md-8 col-lg-6">
                                <div class="header">
                                        <h2>MOTOS DUCATI SERIE MAMA MIA</h2>
                                </div>
                                <p>
                                    La serie MAMA MIA de Ducati es la más innovadora y de lujo de la marca numero 1 en Italia, con una gran variedad de modelos y colores para que puedas elegir la que más te guste.
                                </p>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product" >
                                <div class="part-1" style='background: url("https://motos-b60.kxcdn.com/sites/default/files/ducati-panigale-v4-sp2-2022.jpg") no-repeat center;
                                background-size: cover;'>
                                    
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">DUCATI PANIGLE 2022</h3>
                                        <h4 class="product-price">$10.500</h4>
                                </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product" >
                                <div class="part-1" style='background: url("https://media.istockphoto.com/photos/ducati-1299-panigale-final-edition-tricolor-motorcycle-on-rent-for-picture-id1066579724?k=20&m=1066579724&s=612x612&w=0&h=49nUdDMbngjpXH-7BiDZr8S7aRmj6WzDe4pSSyAPqyk=") no-repeat center;
                                background-size: cover;'>
                                    
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">DUCATI DI CUESTO DI MAMA</h3>
                                        <p>Edicion limitada VIVA ITALIA</p>
                                        <h4 class="product-price">$12.900</h4>
                                </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product" >
                                <div class="part-1" style='background: url("https://images.ctfassets.net/x7j9qwvpvr5s/1rygWxPWHjKYUwbNEzN0CH/83ea1c53ff71c0cc487a80e6d1743c4b/SCR-1100-Dark-Pro-01-model-menu-780x430.png") no-repeat center;
                                background-size: cover;'>
                                   
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">DUCATI SUPER BIKE</h3>
                                        <h4 class="product-price">$2.100</h4>
                                </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product" >
                                <div class="part-1" style='background: url("https://ducati-berlin.de/wp-content/uploads/2020/09/ducati-berlin-scrambler-nighshift.png") no-repeat center;
                                background-size: cover;'>
                                   
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">DUCATI ONE TO ONE</h3>
                                        <h4 class="product-price">$7.500</h4>
                                </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="row justify-content-center text-center">
                        <div class="col-md-8 col-lg-6">
                                <div class="header">
                                        <h2>MOTOS YAMAHA SERIE A LOT OF MONEY</h2>
                                </div>
                                <p> La serie A LOT OF MONEY de YAMAHA es la serie de motos más top de gama en el mundo, completamente elegante y de lujo. Para un millonario como vos</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product" >
                                <div class="part-1" style='background: url("https://motos-b60.kxcdn.com/sites/default/files/yamaha-r6-race-2022.jpg") no-repeat center;
                                background-size: cover;'>
    
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">YAMAHA 1 PRO</h3>
                                        <h4 class="product-price">$277.620</h4>
                                </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product" >
                                <div class="part-1" style='background: url("https://img.remediosdigitales.com/328270/yamaha-motoroid-2017-/1366_2000.jpg") no-repeat center;
                                background-size: cover;'>
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">YAMAHA MOTODROID</h3>
                                        <h4 class="product-price">$500.000</h4>
                                </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product" >
                                <div class="part-1" style='background: url("https://www.soymotero.net/sites/default/files/styles/max_width_800px/public/2021-11/yamaha-tmax-2022-icon-blue-tres-cuartos-trasera.jpg") no-repeat center;
                                background-size: cover;'>
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">TMAX 2022</h3>
                                        <h4 class="product-price">$350.500</h4>
                                </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product" >
                                <div class="part-1" style='background: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/08/moto-yamaha-impulsada-motor-agua-2025461.jpg") no-repeat center;
                                background-size: cover;'>
                                        <ul>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon></a></li>
                                                <li><a href="#"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a></li>

                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">WATER AG-01</h3>
                                        <h4 class="product-price">$150.700</h4>
                                </div>
                        </div>
                    </div>
            </div>
    </div>
</section>